<div class="bg-slate-200 w-full p-5">
  <%- title 'Campaigns' %>
  <%= render 'shared/admin/header' %>
  <%= render 'panel/campaigns/form', campaign: @new_campaign %>

  <div class="m-10 border bg-white border-slate-300 rounded-md">
    <div class="flex items-center justify-between">
      <h2 class="p-5 text-2xl font-medium">All campaigns</h2>
      <%= link_to panel_campaigns_path(format: :csv), title: 'Export as CSV', class: %w[p-5 hover:text-green-700] do %>
        <%= fa_icon 'download' %>
      <% end %>
    </div>
    <table class="w-full">
      <thead class="text-left text-slate-400">
      <tr class="border-b-2">
        <th class="p-5">Name</th>
        <th class="p-5">Amount</th>
        <th class="p-5">Referrals</th>
        <th class="p-5">Promoters</th>
        <th class="p-5">Last referral</th>
        <th class="p-5">Last promoter</th>
        <th class="p-5"></th>
      </tr>
      </thead>
      <tbody>
        <% @campaigns.each do |campaign| %>
          <%= render 'panel/campaigns/campaign', campaign: campaign %>
        <% end %>
      </tbody>
    </table>
    <div class="flex justify-center p-3">
    <%= paginate @campaigns %>
    </div>
  </div>
</div>
