<div class="bg-slate-200 w-full p-5">
  <%- title 'Campaigns' %>
  <%= render 'shared/admin/header' %>
  <div class="m-10 bg-white rounded-md">
    <%= simple_form_for @new_campaign, as: :campaign, method: :post, url: :panel_campaigns, html: { class: 'flex p-3 flex-col no-stars' } do |f| %>
      <div class="flex justify-between" data-controller="campaign-token">
        <div class="flex flex-col flex-1 m-1">
        <%= f.label :name %>
        <%= f.input_field :name, placeholder: 'Enter the campaign name',
                          class: 'rounded-md p-2 border-2', 'data-action': 'change->campaign-token#touchName' %>
        </div>
        <div class="flex flex-col flex-1 m-1">
        <%= f.label :token %>
        <div class="flex border-2 rounded-md p-2">
          <%= f.input_field :token, class: 'grow-2 border-none rounded-l-md bg-white', disabled: true,
                            'data-campaign-token-target': 'token' %>
          <%= button_tag '', type: 'button', class: 'bg-white rounded-r-md text-slate-300 hover:text-slate-700',
                         title: 'Generate a uniq token', 'data-action': 'click->campaign-token#regenerateToken' do %>
            <%= fa_icon 'refresh' %>
          <% end %>
          <%= button_tag '', type: 'button', class: 'ml-2 bg-white rounded-r-md text-slate-300 hover:text-slate-700',
                         title: 'Copy to clipboard', 'data-action': 'click->campaign-token#copyToClipboard' do %>
            <%= fa_icon 'files-o' %>
          <% end %>
      </div>
        </div>
        <div class="flex flex-col m-1">
        <%= f.label :amount %>
        <%= f.input_field :amount, class: 'rounded-md p-2 border-2' %>
        </div>
      </div>
      <div class="self-end">
      <%= f.submit 'Create', class: 'hover:cursor-pointer' %>
      <%= button_tag 'Reset', type: 'reset' %>
      </div>
    <% end %>
  </div>

  <div class="m-10 border bg-white border-slate-300 rounded-md">
    <h2 class="p-5 text-2xl font-medium">All campaigns</h2>
    <table class="w-full">
      <thead class="text-left text-slate-400">
      <tr class="border-b-2">
        <th class="p-5">Name</th>
        <th class="p-5">Amount</th>
        <th class="p-5">Referrals</th>
        <th class="p-5">Promoters</th>
        <th class="p-5">Last referral</th>
        <th class="p-5">Last promoter</th>
        <th class="p-5"></th>
      </tr>
      </thead>
      <tbody>
        <% @campaigns.each do |campaign| %>
          <%= render 'panel/campaigns/campaign', campaign: campaign %>
        <% end %>
      </tbody>
    </table>
    <div class="flex justify-center p-3">
    <%= paginate @campaigns %>
    </div>
  </div>
</div>
