
<%= form_with model: ticket, url: panel_tickets_path do |f| %>

  <div class="flex flex-col">
    <div class="flex flex-col m-5">
      <%= f.label 'Ticket title', class: 'mb-3' %>
      <%= f.text_field :title, class: 'rounded-md p-2 border-2' %>
    </div>
    <div class="flex flex-col m-5">
      <%= f.label 'Details message', class: 'mb-3' %>
      <%= f.rich_text_area :message, class: 'bg-white rounded-md p-2 border-2' %>
    </div>

    <div class="form-actions m-5">
      <%= f.button :submit, class: 'border-2 border-slate-300 p-3 rounded-md hover:bg-blue-600 hover:text-white' %>
    </div>
  </div>
<% end %>
