<div id="<%= dom_id ticket %>">
  <p>
    <strong>Title:</strong>
    <%= ticket.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= ticket.author_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= ticket.text %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

</div>
