<div class="bg-slate-200 w-full p-5">
  <%- title "Edit Settings" %>
  <%= render 'shared/admin/header' %>
  <%= form_with model: current_user, url: panel_update_settings_path do |form| %>
    <div class="flex flex-col border-2 border-slate-300 m-3 p-3 rounded-md">
      <h2 class="text-xl">Account information</h2>
      <div class="flex flex-col m-3">
        <%= turbo_frame_tag dom_id(current_user, "current_user_email_turbo_frame"), class: 'contents' do %>
          <% if current_user&.errors&.full_messages.present? && current_user&.errors&.has_key?(:email) %>
            <div class="flex text-red-900 m-3">
              <ul>
                <% current_user&.errors&.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%= render(FormInputComponent.new form: form, field: :email, label: :email, placeholder: 'Enter your email address') %>
        <% end %>
        <%= turbo_frame_tag dom_id(current_user, "current_user_password_turbo_frame"), class: 'contents' do %>
          <% if current_user&.errors&.full_messages.present? && current_user&.errors&.has_key?(:password) %>
            <div class="flex text-red-900 m-3">
              <ul>
                <% current_user&.errors&.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="grid grid-cols-2 grid-rows-3 gap-4 my-3 p-2 border-2 border-slate-300 rounded-md">
            <%= form.label :password, class: 'mx-2' %>
            <%= form.password_field :password, placeholder: 'Enter the password', class: 'flex-1 rounded-md p-2' %>
            <%= form.label :password_confirmation, class: 'mx-2' %>
            <%= form.password_field :password_confirmation, placeholder: 'Enter the password again', class: 'flex-1 rounded-md p-2' %>
            <a class="flex bg-slate-100 text-black justify-center items-center rounded" href="<%= panel_show_settings_path %>" title="Cancel">Cancel</a>
            <button class="bg-green-100 text-black rounded" title="Save">Save</button>
          </div>
        <% end %>
        <%= turbo_frame_tag dom_id(current_user, "current_user_personal_api_token_turbo_frame"), class: 'contents' do %>
          <% if current_user&.errors&.full_messages.present? && current_user&.errors&.has_key?(:personal_api_token) %>
            <div class="flex text-red-900 m-3">
              <ul>
                <% current_user&.errors&.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="grid grid-cols-2 grid-rows-2 gap-4 p-2 border-2 border-slate-300 rounded-md"
               data-controller="generate-token" data-generate-token-url-value="<%= api_personal_api_token_path %>"
               data-generate-token-token-value="<%= current_user.personal_api_token %>">
            <%= form.label :personal_api_token, class: 'mx-2' %>
            <div class="flex border-2 rounded-md p-2 border-slate-300 bg-white">
              <%= form.text_field :personal_api_token, placeholder: 'Enter your personal API token',
                                  class: 'grow-2 border-none rounded-l-md bg-white w-full h-full focus:outline-none',
                                  'data-generate-token-target': 'token', readonly: true %>
              <%= button_tag '', type: 'button', class: 'bg-white rounded-r-md text-slate-300 hover:text-slate-700',
                             title: 'Generate a new token', 'data-action': 'click->generate-token#regenerateToken' do %>
                <%= fa_icon 'refresh' %>
              <% end %>
            </div>
            <a class="flex bg-slate-100 text-black justify-center items-center rounded" href="<%= panel_show_settings_path %>" title="Cancel">Cancel</a>
            <button class="bg-green-100 text-black rounded" title="Save">Save</button>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex flex-col border-2 border-slate-300 m-3 p-3 rounded-md">
      <h2 class="text-xl">Personal information</h2>
      <div class="flex m-3">

        <div class="flex flex-col m-3 p-3 border-2 border-slate-300 rounded-md items-center">
          <%= turbo_frame_tag dom_id(current_user, "current_user_avatar_turbo_frame"), class: 'contents' do %>
            <% if current_user&.errors&.full_messages.present? && current_user&.errors&.has_key?(:personal_api_token) %>
              <div class="flex text-red-900 m-3">
                <ul>
                  <% current_user&.errors&.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="flex flex-col" data-controller="avatar-preview">
              <% has_avatar = current_user.avatar.attached? %>
              <%= image_tag current_user.avatar&.variant(:medium) || '/', size: '80',
                            class: "rounded-md #{has_avatar ? '' : 'hidden'}", 'data-avatar-preview-target': 'avatarImg' %>
              <span class="<%= has_avatar ? 'hidden' : '' %>" data-avatar-preview-target="avatarIcon">
                <%= fa_icon 'user-circle-o 5x' %>
              </span>
              <%= form.file_field :avatar, id: :user_avatar, accept: 'image/png,image/jpg,image/jpeg', class: 'm-3',
                                  'data-avatar-preview-target': 'avatarInput',
                                  'data-copy-file-target': 'source' %>
              <div class="flex justify-evenly m-3">
                <a class="flex bg-slate-100 p-2 text-black justify-center items-center rounded" href="<%= panel_show_settings_path %>" title="Cancel">Cancel</a>
                <button class="bg-green-100 p-2 text-black rounded" title="Save" type="submit">Save</button>
              </div>
            </div>
          <% end %>
        </div>

        <div class="flex flex-col">

          <%= turbo_frame_tag dom_id(current_user, "current_user_first_name_turbo_frame"), class: 'contents' do %>
            <% if current_user&.errors&.full_messages.present? && current_user&.errors&.has_key?(:first_name) %>
              <div class="flex text-red-900 m-3">
                <ul>
                  <% current_user&.errors&.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= render(FormInputComponent.new form: form, field: :first_name, label: :first_name,
                                              placeholder: 'Enter your First Name') %>
          <% end %>

          <%= turbo_frame_tag dom_id(current_user, "current_user_last_name_turbo_frame"), class: 'contents' do %>
            <% if current_user&.errors&.full_messages.present? && current_user&.errors&.has_key?(:last_name) %>
              <div class="flex text-red-900 m-3">
                <ul>
                  <% current_user&.errors&.full_messages.each do |error| %>
                    <li><%= error %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= render(FormInputComponent.new form: form, field: :last_name, label: :last_name,
                                              placeholder: 'Enter your Last Name') %>
          <% end %>

        </div>
      </div>
    </div>

    <div>
      <h2>Team information</h2>
      <p>Soon in 2022</p>
    </div>
  </div>
<% end %>
