<div class="bg-slate-200 w-full p-5">
  <%- title "Settings" %>
  <%= render 'shared/admin/header' %>
  <div class="flex flex-col border-2 border-slate-300 m-3 p-3 rounded-md">
    <h2 class="text-xl">Account information</h2>
    <div class="flex flex-col m-3">
      <% frame_id = dom_id current_user, "current_user_email_turbo_frame" %>
      <%= form_with model: current_user, url: panel_update_settings_path, data: { turbo_frame: frame_id } do |form| %>
        <%= turbo_frame_tag frame_id, class: 'contents' do %>
          <div class="flex m-3" data-controller="show-pencil" data-action="mouseenter->show-pencil#show
                                                                           mouseleave->show-pencil#hide">
            <%= current_user.email %>
            <%= link_to panel_edit_settings_path, class: 'ml-2 flex hidden', 'data-show-pencil-target': 'pencil' do %>
              <%= fa_icon 'pencil' %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <% frame_id = dom_id current_user, "current_user_password_turbo_frame" %>
      <%= form_with model: current_user, url: panel_update_settings_path, data: { turbo_frame: frame_id } do |form| %>
        <%= turbo_frame_tag frame_id, class: 'contents' do %>
          <div class="flex m-3">
            <%= link_to 'Change the password', panel_edit_settings_path,
                        class: 'border-2 border-slate-300 p-3 rounded-md hover:bg-red-300 hover:text-white hover:border-red-700' %>
          </div>
        <% end %>
      <% end %>
      <% frame_id = dom_id current_user, "current_user_personal_api_token_turbo_frame" %>
      <%= form_with model: current_user, url: panel_update_settings_path, data: { turbo_frame: frame_id } do |form| %>
        <%= turbo_frame_tag frame_id, class: 'contents' do %>
          <div class="flex m-3 items-center" data-controller="copy-to-clipboard
                                                              show-pencil"
               data-action="mouseenter->show-pencil#show
                            mouseleave->show-pencil#hide">
            <span>Personal API token</span>
            <div class="mx-3 p-2 border-2 rounded-md border-slate-300 bg-slate-100">
              <span data-copy-to-clipboard-target="token"><%= current_user.personal_api_token %></span>
              <%= button_tag '', type: 'button', class: 'ml-2 text-slate-400 hover:text-slate-700 token-title',
                             title: 'Copy to clipboard', 'data-action': 'click->copy-to-clipboard#copyToClipboard' do %>
                <%= fa_icon 'files-o', 'data-copy-to-clipboard-target': 'copyIcon' %>
              <% end %>
            </div>
            <%= link_to panel_edit_settings_path, class: 'ml-2 flex hidden', 'data-show-pencil-target': 'pencil' do %>
              <%= fa_icon 'pencil' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-col border-2 border-slate-300 m-3 p-3 rounded-md">
    <h2 class="text-xl">Personal information</h2>
    <div class="flex m-3">

      <div class="flex flex-col m-3 p-3 border-2 border-slate-300 rounded-md items-center">
        <% frame_id = dom_id current_user, "current_user_avatar_turbo_frame" %>
        <%= form_with model: current_user, url: panel_update_settings_path, data: { turbo_frame: frame_id } do |form| %>
          <%= form.file_field :avatar, id: :user_avatar, accept: 'image/png,image/jpg,image/jpeg', class: 'hidden',
                                       'data-copy-file-target': 'destination' %>
          <%= turbo_frame_tag frame_id, class: 'contents' do %>
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar.variant(:medium), size: '80', class: 'rounded-md' %>
            <% else %>
              <%= fa_icon 'user-circle-o 5x' %>
            <% end %>
            <%= link_to 'Edit', panel_edit_settings_path,
                        class: 'flex mt-3 p-2 border-2 border-slate-300 rounded-md hover:bg-slate-300 justify-center' %>
          <% end %>
        <% end %>
      </div>

      <div class="flex flex-col">

        <% frame_id = dom_id current_user, "current_user_first_name_turbo_frame" %>
        <%= form_with model: current_user, url: panel_update_settings_path, data: { turbo_frame: frame_id } do |form| %>
          <%= turbo_frame_tag frame_id, class: 'contents' do %>
            <div class="flex m-3" data-controller="show-pencil" data-action="mouseenter->show-pencil#show
                                                                             mouseleave->show-pencil#hide">
              <% if current_user.first_name.present? %>
                <%= current_user.first_name %>
              <% else %>
                <em><%= 'Not set' %></em>
              <% end %>
              <%= link_to panel_edit_settings_path, class: 'ml-2 flex hidden', 'data-show-pencil-target': 'pencil' do %>
                <%= fa_icon 'pencil' %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% frame_id = dom_id current_user, "current_user_last_name_turbo_frame" %>
        <%= form_with model: current_user, url: panel_update_settings_path, data: { turbo_frame: frame_id } do |form| %>
          <%= turbo_frame_tag frame_id, class: 'contents' do %>
            <div class="flex m-3" data-controller="show-pencil" data-action="mouseenter->show-pencil#show
                                                                             mouseleave->show-pencil#hide">
              <% if current_user.last_name.present? %>
                <%= current_user.last_name %>
              <% else %>
                <em><%= 'Not set' %></em>
              <% end %>
              <%= link_to panel_edit_settings_path, class: 'ml-2 flex hidden', 'data-show-pencil-target': 'pencil' do %>
                <%= fa_icon 'pencil' %>
              <% end %>
            </div>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>

  <div class="flex flex-col border-2 border-slate-300 m-3 p-3 rounded-md">
    <h2 class="text-xl">Team Settings</h2>
    <div class="flex flex-col m-3">
      <%= render current_user.current_team %>
    </div>
  </div>

  <div class="flex flex-col border-2 border-slate-300 m-3 p-3 rounded-md">
    <h2 class="text-xl">Payment Information</h2>
    <div class="flex flex-col m-3">
      <p>Soon in 2022</p>
    </div>
  </div>

</div>
