<%= turbo_frame_tag notification do %>
  <div class="flex flex-col text-yellow-900 bg-yellow-100 p-3 my-3 w-96
              rounded-md slide-down border-yellow-300 border-2"
       id="<%= dom_id notification %>" data-controller="notification" data-notification-target="notification">
    <div class="flex justify-between items-center pb-2">
      <%= fa_icon notification.icon %>
      <span class="flex-1 px-5 font-bold"><%= notification.title %></span>
      <%= button_tag type: 'button', 'data-action': 'click->notification#close' do %>
        <%= fa_icon 'times', class: 'cursor-pointer' %>
      <% end %>
    </div>
    <p><%= notification.message %></p>
    <small class="text-xs self-end"><%= time_tag notification.created_at, 'data-local': 'time-ago' %></small>
  </div>
<% end %>

