<div class="flex flex-col bg-slate-800 h-screen">
  <ul>
    <li>
      <%= link_to 'Overview', '/' %>
    </li>
    <li>
      <%= link_to 'Campaigns', '/' %>
    </li>
    <li>
      <%= link_to 'Integrations', '/' %>
    </li>
    <li>
      <%= link_to 'Documentation', '/' %>
    </li>
    <li>
      <hr />
    </li>
    <li>
      <%= link_to 'Settings', '/' %>
    </li>
  </ul>
</div>
