<nav class="flex justify-between py-5 bg-slate-100">
  <ul class="flex">
    <li class="mx-5">
      <%= link_to 'Index', root_path, class: 'hover:bg-slate-300 hover:rounded-sm p-2' %>
    </li>
    <li class="mx-5">
      <%= link_to 'About', about_path, class: 'hover:bg-slate-300 hover:rounded-sm p-2' %>
    </li>
    <li class="mx-5">
      <%= link_to 'Pricing', pricing_path, class: 'hover:bg-slate-300 hover:rounded-sm p-2' %>
    </li>
    <li class="mx-5">
      <%= link_to 'Contacts', contacts_path, class: 'hover:bg-slate-300 hover:rounded-sm p-2' %>
    </li>
  </ul>
  <ul class="flex">
    <% if current_user %>
      <li class="mx-5">
        <%= link_to 'Dashboard', panel_path, class: 'hover:bg-slate-300 p-2 hover:rounded-sm' %>
      </li>
      <li class="mx-5">
        <%= link_to 'Sign Out', '/', class: 'hover:bg-slate-300 p-2 hover:rounded-sm' %>
      </li>
    <% else %>
      <li  class="mx-5">
        <%= link_to 'Sign In', signin_path, class: 'hover:bg-slate-300 p-2 hover:rounded-sm' %>
      </li>
      <li  class="mx-5"><a class="hover:bg-slate-300 p-2 hover:rounded-sm" href="/signup">Sing Up</a></li>
    <% end %>
  </ul>
</nav>
